.home {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 70px;
  display: flex;
  justify-content: center;
  color: rgb(3, 53, 7);
}

 .p1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: rgb(199, 18, 49);
}
