body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-position: center;
  height: 100vh;
  
}
.mainlog{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  
}
.register {
  background-color: rgba(176, 169, 169, 0.171);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
